/* * {
    margin: 0 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 1024px;
}

.title {

    position: absolute;
    width: 278px;
    height: 28px;
    top: 168px;
    left: 578px;

    font-weight: 500;
    font-size: 30px;
    line-height: 30px;


}

.textArea {

    position: absolute;
    left: 4.6%;
    right: 20.09%;
    top: 0%;
    bottom: 1%;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.mainSpan {

    position: absolute;
    width: 505px;
    height: 60px;
    left: 467px;
    top: 370px;

    background-color: #F6FAF6;
    border-radius: 35px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.copy {
    width: 78px;
    height: 50px;
    position: absolute;
    left: 81.13%;
    right: 3, 37%;
    top: 3%;
    bottom: 0%;
    border: none;
    border-left: #C2C4C2 solid;
    background-color: #F6FAF6;

    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #bbbb;



}

.numberChecker {
    position: absolute;
    background: #24BDFF;
    top: 507px;
    left: 407px;
    border: 1px solid;
    width: 20px;
    height: 20px;

}

.charsChecker {
    position: absolute;
    background: #24BDFF;
    top: 542px;
    left: 407px;
    border: 1px solid;
    width: 20px;
    height: 20px;

}

.numbers {

    position: absolute;
    height: 18px;
    left: 445px;
    top: 502px;
    right: 908px;


    font-weight: normal;
    font-size: 25px;
    line-height: 29px;


}

.characters {
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 28px;
    left: 445px;
    top: 538px;
    right: 908px;


    font-weight: normal;
    font-size: 25px;
    line-height: 29px;


}


.charNumber {

    position: absolute;
    width: 170px;
    height: 18px;
    left: 807px;
    top: 502px;
    right: 908px;


    font-weight: normal;
    font-size: 25px;
    line-height: 29px;


}

.numberOfLetters {

    position: absolute;
    width: 50px;
    height: 25px;
    left: 974px;
    top: 503px;



    font-weight: normal;
    font-size: 25px;
    line-height: 29px;


}

.charBar {

    margin-left: 809px;
    margin-top: 550px;
    width: 183px;

}

.generate {


    position: absolute;
    width: 187px;
    height: 48px;
    left: 624px;
    top: 693px;

    position: absolute;
    width: 185px;
    height: 44px;
    left: 638px;
    top: 701px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;

    color: #000000;


    background: #0075ff;
    border: 1px solid rgba(0, 0, 0, 0.72);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
} */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    font-family: "Roboto", sans-serif;

}

.title {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 20px;
}

.mainSpan {
    position: relative;
    margin: 30vh auto;
    width: 270px;
    height: 31px;
    border: solid 1px #bbbebb;
    background-color: #F6FAF6;
    border-radius: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.textArea {

    width: 30%;
    margin: 1.5% 0 auto 5%;
    font-weight: 500;
    font-size: 17px;
}

button {

    border: none;
    font-family: "Roboto", sans-serif;
}

.copy {
    position: absolute;
    top: 0%;
    left: 83%;
    height: 100%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: solid 2px #BBBEBB;
    background-color: #F6FAF6;
    color: #BBBB;
    transition: .2s;

}

button.copy:hover {
    color: grey;
}

.interface-wrapper {
    position: absolute;
    bottom: 40%;
    width: 100vw;


}

.interface {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    font-size: 16px;
}

/* div.interface>* {
    position: absolute;
} */


.number-checker {
    position: absolute;
    right: 10%;
    top: 0%;

}


.char-bar {
    position: absolute;
    width: 45%;
    right: 0%;
    bottom: 0%;
}

input {
    position: absolute;
    height: 17px;
    width: 17px;
}

.number-of-letters {
    position: absolute;
    top: 0;
    right: 0;

}

.number-checker {
    position: absolute;
    right: 8%;
    top: 0;

}

.numbers {
    position: absolute;
    left: 10%
}

.chars-checker {
    position: absolute;
    left: 0;
    bottom: 0;
}

.characters {
    position: absolute;
    left: 10%;
    bottom: 0;
}

.btn-container {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 15vh;
}

.generate {
    display: block;
    bottom: 10vh;
    margin: 0 auto;
    width: 174px;
    padding: 0 5px;
    border-radius: 6px;
    background-color: #0075ff;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
    transition: .2s;

}

/* .generate:hover {

    background-color: #24BDFF;
} */

@media (min-width:360px) {
    .interface {

        font-size: 19px;
    }


    .number-of-letters {

        top: -5%;


    }

    .number-checker {

        top: -5%;

    }

    .numbers {

        top: -5%;

    }

    .textArea {
        font-size: 18px;

    }

    .characters {
        bottom: -5%;
    }

    .generate {

        width: 184px;
        padding: 0 10px;
        font-size: 20px;
        line-height: 52px;
        text-transform: uppercase;


    }




}

@media (min-width:375px) {

    .title {

        font-size: 28px;
    }



    .mainSpan {
        width: 335px;
        height: 40px;
    }

    .copy {
        font-size: 17px;
    }

    .interface-wrapper {

        height: 100px;
    }

    .interface {

        font-size: 21px;
    }


    .number-of-letters {

        top: -7%;


    }

    .number-checker {

        top: -7%;

    }

    .numbers {

        top: -7%;

    }

    .textArea {
        font-size: 22px;

    }

    .characters {
        bottom: -7%;
    }

    .generate {

        font-size: 20px;
    }


}

@media (min-width:411px) {

    .title {

        font-size: 26px;
    }

    .mainSpan {

        width: 347px;
        height: 41px;


    }

    .copy {
        font-size: 17px;

    }


    .interface {

        font-size: 23px;
    }


    .number-of-letters {

        top: -10%;


    }

    .number-checker {

        top: -10%;

    }

    .numbers {

        top: -10%;

    }

    .textArea {
        font-size: 22px;

    }

    .characters {
        bottom: -10%;
    }

    .generate {

        width: 184px;
        padding: 0 10px;
        line-height: 52px;


    }


}